* {
    color: black;
    font-family:Arial, Helvetica, sans-serif
}

html {
    background-color: beige;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    word-spacing: 4px;
    background-color: rgb(220, 220, 245);
    border-radius: 10px;
    width: max-content;
    height: max-content;
    margin: 0px auto;
    padding: 10px;
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: rgb(220, 220, 245);
}

h2 {
    text-align: center;
}

table{
    margin: 20px auto;
    max-width: 725px;
}

table td,th {
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}

table tr:hover {
    border: 1px solid white;
    background-color: rgb(220, 220, 245);
}

footer {
    text-transform: lowercase;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
